# Bluesky
BSKY_ENABLED=
BSKY_HANDLE=
BSKY_APP_PASSWORD=
BSKY_POST_HOUR=

# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHANNEL_ENABLED=
TELEGRAM_OWNER=
TELEGRAM_CHANNEL_ID=
TELEGRAM_POST_HOUR=

# Instagram
INSTAGRAM_ENABLED=
INSTAGRAM_USER_ID=
INSTAGRAM_CLIENT_ID=
INSTAGRAM_CLIENT_SECRET=
INSTAGRAM_POST_HOUR=
INSTAGRAM_LOGIN_REDIRECT_URL=

# Web Server
FILE_SERVER_URL=
FILE_SERVER_PORT=
